<section class="">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="formSubmit()"
    class="d-flex justify-content-center align-items-center flex-column w-75 mx-auto bg-main"
  >
    <div class="form-group w-100">
      <label for="name">Name :</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Your Name"
        formControlName="name"
      />
      <div
        class="alert alert-danger rounded-4"
        *ngIf="
          registerForm.get('name')?.errors && registerForm.get('name')?.touched
        "
      >
        <p *ngIf="registerForm.get('name')?.getError('required')">
          Name is required
        </p>
        <p *ngIf="registerForm.get('name')?.getError('minlength')">
          Min length is 3 characters
        </p>
        <p *ngIf="registerForm.get('name')?.getError('maxlength')">
          Max length is 20 characters
        </p>
      </div>
    </div>
    <div class="form-group w-100">
      <label for="email">Email :</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Your Email"
        formControlName="email"
      />
      <div
        class="alert alert-danger rounded-4"
        *ngIf="
          registerForm.get('email')?.errors &&
          registerForm.get('email')?.touched
        "
      >
        <p *ngIf="registerForm.get('email')?.getError('required')">
          Email is required
        </p>
        <p *ngIf="registerForm.get('email')?.getError('email')">
          Email is not valid
        </p>
      </div>
    </div>
    <div class="form-group w-100">
      <label for="password">Password :</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Your password"
        formControlName="password"
      />
      <div
        class="alert alert-danger rounded-4"
        *ngIf="
          registerForm.get('password')?.errors &&
          registerForm.get('password')?.touched
        "
      >
        <p *ngIf="registerForm.get('password')?.getError('required')">
          Password is required
        </p>
        <p *ngIf="registerForm.get('password')?.getError('pattern')">
          Password must start with Uppercase and contains 6 to 20
        </p>
      </div>
    </div>
    <div class="form-group w-100">
      <label for="Repassword">Re password :</label>
      <input
        type="password"
        class="form-control"
        id="Repassword"
        placeholder="Enter Re password"
        formControlName="rePassword"
      />
      <div
        class="alert alert-danger rounded-4"
        *ngIf="
          registerForm.get('rePassword')?.errors &&
          registerForm.get('rePassword')?.touched
        "
      >
        <p *ngIf="registerForm.get('rePassword')?.getError('required')">
          Re passWord is required
        </p>
        <p *ngIf="registerForm.get('rePassword')?.getError('pattern')">
          Re passWord is not matched
        </p>
      </div>
    </div>
    <div class="form-group w-100">
      <label for="Phone">Phone :</label>
      <input
        type="tel"
        class="form-control"
        id="Phone"
        placeholder="Your Phone"
        formControlName="phone"
      />
      <div
        class="alert alert-danger rounded-4"
        *ngIf="
          registerForm.get('phone')?.errors &&
          registerForm.get('phone')?.touched
        "
      >
        <p *ngIf="registerForm.get('phone')?.getError('required')">
          phone is required
        </p>
        <p *ngIf="registerForm.get('phone')?.getError('pattern')">
          phone is not valid
        </p>
      </div>
    </div>

    <button
      [disabled]="registerForm.invalid"
      class="btn btn-main rounded-pill px-5 py-2 mt-2"
    >
      Register
    </button>
    <div>
      <p *ngIf="masErr" class="alert alert-danger rounded-4 mt-3">{{masErr}}</p>
      <p *ngIf="masSuc" class="alert alert-success rounded-4 mt-3">{{masSuc}}</p>
    </div>
  </form>
</section>
