<section class="footer">
  <div class="container">
    <div
      class="row row-cols-2 d-flex justify-content-between align-items-center"
    >
      <div
        class="col form-group d-flex flex-column justify-content-between align-items-start"
      >
        <div>
          <h4>elegance</h4>
          <p>elegance is a platform for buying and selling products</p>
        </div>
        <div class="input-group d-flex justify-content-center align-items-start">
          <input
            type="text"
            class="form-control rounded-4 me-2 mb-2"
            placeholder="enter your email"
            aria-label="Email"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-main rounded-4"
            type="button"
            id="button-addon2"
          >
            subscribe
          </button>
          <p>
            By subscribing you agree to with our Privacy Policy and provide
            consent to receive updates from our company.
          </p>
        </div>
      </div>
      <div
        class="row row-cols-3 d-flex justify-content-between align-items-start"
      >
        <div
          class="col d-flex flex-column justify-content-between align-items-start"
        >
          <h4 class="text-start">About Us</h4>
          <ul class="list-unstyled">
            <li>
              <p>FAQ</p>
            </li>
            <li>
              <p>Contact Us</p>
            </li>
            <li>
              <p>Terms of Service</p>
            </li>
            <li>
              <p>Privacy Policy</p>
            </li>
            <li>
              <p>Cookie Policy</p>
            </li>
          </ul>
        </div>
        <div
          class="col d-flex flex-column justify-content-between align-items-start"
        >
          <div>
            <h4>Follow Us</h4>
          </div>
          <div>
            <ul class="list-unstyled">
              <li class="d-flex align-items-center">
              <i class="fa-brands fa-facebook"></i>
              <p>Facebook</p>
            </li>
            <li class="d-flex align-items-center">
              <i class="fa-brands fa-twitter"></i>
              <p>Twitter</p>
            </li>
            <li class="d-flex align-items-center">
              <i class="fa-brands fa-instagram"></i>
              <p>Instagram</p>
            </li>
            <li class="d-flex align-items-center">
              <i class="fa-brands fa-linkedin"></i>
              <p>LinkedIn</p>
            </li>
            </ul>
          </div>
        </div>
        <div
          class="col d-flex flex-column justify-content-between align-items-center"
        >
          <div>
            <h4>Customer Support</h4>
          </div>
          <div>
            <ul class="list-unstyled">
              <li>
                <p>
                  <i class="fa-solid fa-phone"></i>
                  +1234567890
                </p>
              </li>
              <li>
                <p>
                  <i class="fa-solid fa-envelope"></i>
                  info&#64;elegance.com
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
