.footer {
  margin-top: 50px;
  background-color: var(--bg-footer);
  padding: 50px 0;
  color: white;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--second-text);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
      a {
        color: var(--second-text);
      }
    }
  }
  .input-group {
    margin-top: 30px;
    margin-bottom: 30px;
    input {
      border-radius: 20px;
      border: 1px solid var(--second-text);
      background-color:white;
      color: var(--second-text);

    }

  }
  .col{
    height: 100%;
  }
}


