<section class="home vh-100">
  <div class="container mx-auto d-flex justify-content-start align-items-center h-50">
    <div class="row   d-flex justify-content-center align-items-center ">
      <div class="col-12  d-flex justify-content-center align-items-start flex-column">
        <h1>Home</h1>
        <p>I like to write <abbr title="hamada">HTML</abbr>!</p>
        <ins>New Text</ins>
        <del>Deleted Text</del>
        <s>Struck-through text here</s>
        <a href="tel:0201023336556">call me</a>
      </div>
    </div>
  </div>
</section>

